<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748110936399-pv5r7gkeb46ch66c4g8hoh8n0ojqq7dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748110936399-pv5r7gkeb46ch66c4g8hoh8n0ojqq7dn</string>
	<key>API_KEY</key>
	<string>AIzaSyCpK1dQELhDMBKRbQ2HMEyzAIcG6KmjcBE</string>
	<key>GCM_SENDER_ID</key>
	<string>748110936399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoppon.fclipboard</string>
	<key>PROJECT_ID</key>
	<string>shoppon</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748110936399:ios:8884265599bd30841a2d3a</string>
</dict>
</plist>