apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web
  namespace: fclipboard
  labels:
    name: fclipboard
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - fclipboard.lingmind.cn
      secretName: wildcard-lingmind-cn-tls
  rules:
    - host: fclipboard.lingmind.cn
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: web
                port:
                  number: 80
