apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: provider
  namespace: fclipboard
  labels:
    name: fclipboard
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/fclipboard-provider/(.*) /$1 break;
spec:
  rules:
    - host: fclipboard-provider.lingmind.cn
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: provider
                port:
                  number: 8000
    - host: fclipboard.lingmind.cn
      http:
        paths:
          - pathType: Prefix
            path: "/v1"
            backend:
              service:
                name: provider
                port:
                  number: 8000
